<md-dialog aria-label="New Location" style="width: 320px">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add City</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
   
  <form name="projectForm">
      <md-input-container>
        <label> City Name</label>
        <input ng-model="city.name" name="name" required>
      </md-input-container>  
  </form>
  </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="close()" class="md-primary">
       Cancel
      </md-button>
      <md-button ng-click="save(city.name)" class="md-primary">
        Save
      </md-button>
    </div>
    
  </form>
</md-dialog>